@import '../../styles/colors';
@import '../../styles/shadows';
@import '../../styles/variables';

.shopItem {
  border-radius: $border-radius-lg;
  box-shadow: $shadow-light;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  max-width: 260px;
  background: $color-ice-blue;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  overflow: hidden;
}

.shopItem:hover {
  transform: scale(1.05);
  box-shadow: $shadow-medium-light;
}

.affordable {
  border: 2px solid $color-button-bg;
  background: $color-pale-blue;
}

.unaffordable {
  border: 2px solid $color-light-beige;
  background: $color-pale-pink;
}

.itemContent {
  text-align: center;
}

.itemName {
  font-size: 1.2rem;
  font-weight: 600;
  color: $color-text-secondary;
}

.itemCost {
  font-size: 1rem;
  color: $color-grey-dark;
  font-weight: 500;
}

/* Buy Button */
.buyButton {
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background: $color-button-bg;
  border: none;
  border-radius: $border-radius-md;
  cursor: pointer;
  transition:
    0.2s ease,
    transform 0.2s ease;
}

.buyButton:disabled {
  background: $color-border-light;
  cursor: not-allowed;
}

.buyButton:hover:not(:disabled) {
  background: $color-button-hover-bg;
}

.modalContent {
  text-align: center;
  padding: 20px;
}

.modalMessage {
  font-size: 1.2rem;
  font-weight: 600;
  color: $color-text-secondary;
  margin-bottom: 15px;
}

.modalActions {
  display: flex;
  justify-content: center;
  gap: 10px;
}
