.button {
  border-radius: 10px;
  min-width: 120px;
  padding: 10px 15px;
  height: auto;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s,
    transform 0.2s;
  color: white;
  border: none;
  background-color: #0073ce;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #005fa3;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.button:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.button.success {
  background-color: #00a99d;
  box-shadow: 0 4px 8px rgba(0, 169, 157, 0.3);
}

.button.success:hover {
  background-color: #008c81;
}

.button.failure {
  background-color: #ce3700;
  box-shadow: 0 4px 8px rgba(206, 55, 0, 0.3);
}

.button.failure:hover {
  background-color: #a92d00;
}