@import '../../../styles/colors';
@import '../../../styles/shadows';
@import '../../../styles/variables';

.button {
  border-radius: $border-radius-md;
  min-width: 120px;
  padding: 10px 15px;
  height: auto;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s,
    transform 0.2s;
  color: $color-white;
  border: none;
  background-color: $color-button-bg;
  box-shadow: $shadow-medium;
}

.button:hover {
  background-color: $color-button-hover-bg;
  transform: translateY(-3px);
  box-shadow: $shadow-medium-dark;
}

.button:active {
  transform: translateY(0);
  box-shadow: $shadow-medium;
}

.button.success {
  background-color: $color-primary;
  box-shadow: $shadow-green;
}

.button.success:hover {
  background-color: $color-button-success-hover;
}

.button.failure {
  background-color: $color-button-failure-bg;
  box-shadow: $shadow-red;
}

.button.failure:hover {
  background-color: $color-button-failure-hover;
}

button:focus,
.button:focus {
  outline: 2px solid $color-primary;
  outline-offset: 2px;
}