/* Primary Colors */
$color-primary: #00a99d;

/* Neutral Colors */
$color-white: #ffffff;
$color-grey-light: #f3f3f3;
$color-grey-dark: #333333;

/* Text Colors */
$color-text-primary: #005bbc;
$color-text-secondary: #002f56;
$color-text-tertiary: #014742;

/* Border colors */
$color-border-light: #cccccc;
$color-border-red: #ce3700;

/* Button Colors */
$color-button-bg: #0073ce;
$color-button-failure-bg: #ce3700;
$color-button-hover-bg: #005fa3;
$color-button-success-hover: #008c81;
$color-button-failure-hover: #a92d00;

/* Background Colors */
$color-bg: #f4f4f4;
$color-bg-light: #f9f9f9;
$color-bg-light-red: #fbe8e7;
$color-bg-light-green: #e6f5f4;

/* Other Colors */
$color-black: #000;
$color-teal-bright: #12ded1;
$color-cyan-light: #9ce0e0;
$color-pale-pink: #f3eeee;
$color-light-beige: #ead2ca;
$color-pale-blue: #eaf6fd;
$color-ice-blue: #f0f8ff;