$shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
$shadow-light-reverse: 0 -2px 5px rgba(0, 0, 0, 0.1);
$shadow-medium-light: 0 4px 8px rgba(0, 0, 0, 0.15);
$shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.2);
$shadow-medium-dark: 0 4px 8px rgba(0, 0, 0, 0.3);
$shadow-heavy: 0 4px 8px rgba(0, 0, 0, 0.7);
$shadow-green: 0 4px 8px rgba(0, 169, 157, 0.3);
$shadow-red: 0 4px 8px rgba(206, 55, 0, 0.3);
