$font-family-primary: 'Helvetica Neue', Arial, sans-serif;

/* Base Font Sizes */
$font-size-base: 16px;
$font-size-lg: 1.25rem; // 20px
$font-size-sm: 0.875rem; // 14px

/* Line Heights */
$line-height-base: 1.5;

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-primary;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
  /* 40px */
}

h2 {
  font-size: 2rem;
  /* 32px */
}

h3 {
  font-size: 1.75rem;
  /* 28px */
}

h4 {
  font-size: 1.5rem;
  /* 24px */
}

h5 {
  font-size: 1.25rem;
  /* 20px */
}

h6 {
  font-size: 1rem;
  /* 16px */
}

/* Paragraph */
p {
  font-size: $font-size-base;
  line-height: $line-height-base;
  margin-bottom: 1.5em;
}