@import '../../styles/colors';
@import '../../styles/shadows';
@import '../../styles/variables';

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: $color-white;
  margin-top: 30px;
}

.heroImage {
  display: block;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: $color-primary;
}

.subheading {
  font-size: 1.2rem;
  font-weight: 400;
  color: $color-text-tertiary;
}

.rulesContainer {
  background: $color-white;
  color: $color-text-primary;
  border-radius: $border-radius-lg;
  padding: 20px;
  box-shadow: $shadow-light;
  max-width: 600px;
  width: 100%;
}

.rulesHeading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  color: $color-primary;
}

.rulesList {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.rulesList li {
  font-size: 1rem;
  margin: 10px 0;
  padding-left: 20px;
  position: relative;
}

.rulesList li::before {
  content: '•';
  color: $color-primary;
  position: absolute;
  left: 0;
  font-size: 1.2rem;
}

.startGameButton {
  margin-top: 20px;
  background: $color-primary;
  color: $color-white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: $border-radius-sm;
  box-shadow: $shadow-light;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.startGameButton:hover {
  transform: scale(1.05);
  box-shadow: $shadow-medium-light;
}

@keyframes flameAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .rulesContainer {
    padding: 15px;
  }

  .heading {
    font-size: 2rem;
  }

  .subheading {
    font-size: 1rem;
  }
}
