@import '../../styles/mixins';

.gameOverContainer {
  @include flexColumn();
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.buttonContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}