@import '../../styles/colors';
@import '../../styles/shadows';
@import '../../styles/variables';

.ad {
  border-radius: $border-radius-lg;
  box-shadow: $shadow-light;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  max-width: 260px;
  background: $color-white;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  overflow: hidden;
  height: 100%;
}

.ad:hover {
  transform: scale(1.05);
  box-shadow: $shadow-medium-light;
}

.adSuccess {
  border: 2px solid $color-primary;
  background: $color-bg-light-green;
}

.adFailure {
  border: 2px solid $color-border-red;
  background: $color-bg-light-red;
}

.adMessage {
  color: $color-text-secondary;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: auto;
}

.adDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
}

.adDetails p {
  margin: 0;
  font-size: 0.9rem;
  color: $color-text-secondary;
  font-weight: 500;
}

.adDetails span {
  font-weight: bold;
  color: $color-button-bg;
}

.modalContent {
  text-align: center;
  padding: 20px;
}

.modalMessage {
  color: $color-text-secondary;
  margin: 10px 0;
  font-size: 1rem;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.goBackButton {
  margin-bottom: 10px;
}

@media (max-width: $breakpoint-md) {
  .ad {
    max-width: 100%;
  }
}
