@import '../../styles/colors';
@import '../../styles/shadows';
@import '../../styles/variables';
@import '../../styles/mixins';

.header {
  @include flexCenter(center, space-between);
  background: $color-primary;
  position: sticky;
  top: 0;
  padding: 10px 30px;
  z-index: $z-index;
  color: $color-white;
  box-shadow: $shadow-light;
}

.logo {
  width: 50px;
  height: auto;
}