@import '../../styles/colors';
@import '../../styles/shadows';
@import '../../styles/variables';

.footer {
  background-color: $color-primary;
  color: $color-white;
  padding: 10px 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: $z-index;
  box-shadow: $shadow-light-reverse;
}